Repository AE-Enterprise/grow_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, django-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: helm-lint
        name: Run helm lint on charts
        entry: bash -c 'for d in charts/*/; do [ -f "$d/Chart.yaml" ] && helm lint "$d"; done'
        language: system
        files: ^charts/.*/templates/.*\.ya?ml$
      - id: django-check
        name: Run python manage.py check for all API projects
        entry: bash -c 'find src/API -name manage.py -execdir python manage.py check \;'
        language: system
        types: [python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: "^charts/"
      - id: check-added-large-files

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        additional_dependencies: ["toml"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        args:
          - --explicit-package-bases
        additional_dependencies:
          - django
          - django-stubs
          - dotenv
          - drf_spectacular
          - djangorestframework
          - psycopg2-binary
          - djangorestframework-stubs

fix: secure JWT secret key for local dev and prod
  src/API/Plants/plants_service/settings.py
Due: django-check

fix: update names of action pipelines
  .github/workflows/PR-scan.yml
  .github/workflows/docker-image.yml
Due: none

chore: renmaed pipelines
  .github/workflows/PR-scan.yml
  .github/workflows/docker-image.yml
  .gitignore
Due: none

making sonar quality gate optional
  .github/workflows/PR-scan.yml
Due: none

fix: install docker
  .github/workflows/docker-image.yml
Due: none

fix: remove un-needed extra command
  .github/workflows/docker-image.yml
Due: none

fix: adding new docker build pipeline
  .github/workflows/docker-image.yml
Due: none

fix: account for .prod dockerfiles
  .github/workflows/docker-image.yml
Due: none

fix: force image-name to be lowercase
  .github/workflows/docker-image.yml
Due: none

fix: ++ image name
  .github/workflows/docker-image.yml
Due: none

fix: change tag to latest-prod
  .github/workflows/docker-image.yml
Due: none

fix: proper formatting
  charts/api-gateway-dev/charts/plants/templates/deployment.yaml
  charts/api-gateway-dev/charts/plants/templates/service.yaml
  charts/api-gateway-dev/charts/plants/templates/serviceaccount.yaml
  charts/api-gateway-dev/templates/serviceaccount.yaml
  charts/api-gateway/charts/plants/templates/service.yaml
  charts/api-gateway/charts/plants/templates/serviceaccount.yaml
  charts/api-gateway/charts/plants/values.yaml
Due: helm-lint

fix: update paths for nginx ingress
  charts/api-gateway/values.yaml
Due: none

fix: testing a new deployment of ingress
  charts/api-gateway/templates/ingress.yaml
  charts/api-gateway/values.yaml
Due: helm-lint

fix: removed un-needed service account to remove secuirty risk to cluster + forcing to use nginx ingress not custom service
  charts/api-gateway/charts/plants/templates/service.yaml
  charts/api-gateway/charts/plants/templates/serviceaccount.yaml
Due: helm-lint

fix: added CPU requests for hpa
  charts/api-gateway/templates/deployment.yaml
Due: helm-lint

fix: remove regex from nginx annotation for re-write
  charts/api-gateway/templates/ingress.yaml
Due: helm-lint

fix: readd regex for experiment
  charts/api-gateway/templates/ingress.yaml
Due: helm-lint

++
  charts/api-gateway/templates/ingress.yaml
Due: helm-lint

fix: readd service and service account for deployments
  charts/api-gateway/charts/plants/templates/service.yaml
  charts/api-gateway/charts/plants/templates/serviceaccount.yaml
Due: helm-lint

fix: made allowed_host a env var and set cluster IP to allowed
  charts/api-gateway/charts/plants/values.yaml
  manage.py
Due: django-check

update env var for ALLOWED_HOSTS
  manage.py
  src/API/Plants/plants_service/settings.py
Due: django-check

feat: updated rewrites for other services + added auth API for JWT token creation
  charts/api-gateway-dev/charts/auth/Chart.yaml
  charts/api-gateway-dev/charts/auth/templates/deployment.yaml
  charts/api-gateway-dev/charts/auth/templates/service.yaml
  charts/api-gateway-dev/charts/auth/templates/serviceaccount.yaml
  charts/api-gateway-dev/charts/auth/values.yaml
  charts/api-gateway-dev/templates/ingress.yaml
  charts/api-gateway/templates/ingress.yaml
  src/API/Auth/Dockerfile.dev
  src/API/Auth/Dockerfile.prod
  src/API/Auth/auth_service/__init__.py
  src/API/Auth/auth_service/asgi.py
  src/API/Auth/auth_service/settings.py
  src/API/Auth/auth_service/urls.py
  src/API/Auth/auth_service/wsgi.py
  src/API/Auth/build.sh
  src/API/Auth/manage.py
  src/API/Auth/packages.txt
Due: helm-lint, django-check

fix: redo env var loading to ensure whitespace is accounted for
  src/API/Plants/plants_service/settings.py
Due: django-check

fix: dockerfile for prod referencing copied file
  src/API/Auth/Dockerfile.prod
Due: none

feat: added tags to controller and worker terrafrom scripts
  infra/hosts.yaml
  infra/rke2/terraform/RKE2_controller.tf
  infra/rke2/terraform/RKE2_worker.tf
Due: none

fic: attempting to add stuff to match auth across apps -failed + added new plant api's according to desings
  charts/api-gateway-dev/nginx-values.yaml
  docs/API Designs.excalidraw
  src/API/Auth/auth_service/admin.py
  src/API/Auth/auth_service/settings.py
  src/API/Plants/api/management/__init__.py
  src/API/Plants/api/management/commands/__init__.py
  src/API/Plants/api/management/commands/populate_db.py
  src/API/Plants/api/models.py
  src/API/Plants/api/serializers.py
  src/API/Plants/api/urls.py
  src/API/Plants/api/views.py
  src/API/Plants/packages.txt
  src/API/Plants/plants_service/settings.py
  src/API/run.sh
  src/API/testing.http
  src/run.sh
Due: django-check

Added API docs for 2 endpoints - get_all was made based off of this
  docs/API Designs.excalidraw
Due: none

uploading fan control work for quiet server :(
  infra/lenovo x3550 m5 fan control.md
Due: none

fix: new packer files - maybe overkill for the proj?
  .gitignore
  .pre-commit-config.yaml
  infra/packer/credentials.pkr.hcl
  infra/packer/files/99-pve.cfg
  infra/packer/readme.md
  infra/packer/ubuntu-server-noble.pkr.hcl
Due: none

laptop reset
  docs/API Designs.excalidraw
  infra/portainer/portainerStacks/sonarQube.yaml
  infra/rke2/ansible/site.yml
Due: none
